*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: 'Arial', sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
}
h1,h2,h3,h4{
    font-family: 'Georgia', sans-serif;
}
.first-section{
    padding: 50px 0 0px;
    background: 
    url(../image/start-screen-gradient-background.png) no-repeat center/cover;
}
header{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.Logo1{
    font-size: 32px;
    font-weight: 400;
    color: #F1CDB3; 
    font-family: 'Georgia', sans-serif;
}
.Logo2{
    font-size: 13px;
    font-family: Arial;
    font-weight: 400;
    color: #FFFFFF; 
}
.menu{
    display: flex;
    align-items: center;
    gap: 35px;
}
.menu-link{
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 160%;

}
.menu-link.active, .menu-link:hover{
font-size: 400;
font-size: 15px;
color: #FAFAFA;
opacity: 1;
border-bottom: 3px solid #F1CDB3;
}
.main-wrap{
    margin: auto;
    display: flex;
    justify-content:space-between ;
    margin-top: 60px;
}
.main-header{
    max-width: 310px;
    font-size: 44px;
    color: white;
    line-height: 120%;
    margin-top: 163px;
}
.main-description{
max-width: 460px;
font-size: 15px;
color: #CDCDCD;
line-height: 160%;
font-weight: 400;
margin-top: 42px;
margin-bottom: 42px;
}
.main-button{
    font-size: 17px;
    color: #292929;
    line-height: 160%;
    font-weight: 400;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    min-width: 207px;
}




.second-section{
    padding: 94px 0 114px;
    background: white;
}
.main-wrap2{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 120px;
}
.main-text{
    width: 430px;
}
.main-header2{
    font-size: 35px;
    font-weight: 400;
    color: #545454;
}
.main-description2{
    font-size: 15px;
    font-weight: 400;
    color: #4C4C4C;
    margin-top: 25px;
}


.three-section{
    padding: 80px 0 100px;
    background: #F6F6F6;
}
.main-header3{
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    text-align: center;
    margin-bottom: 60px;
}
.main-wrap3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
    padding: 0 50px;
}
.card{
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background: #FAFAFA;
    text-align: center;
}
.card-img img{
    width: 100%;
    border-radius: 9px 9px 0 0;
}
.card-body{
    padding: 30px 41px;
}
.card-header3{
    font-size: 20px;
    font-weight: 400;
    color: #545454;
    margin-bottom: 30px;
    
}
.main-button3{
    font-size: 17px;
    color: #292929;
    line-height: 160%;
    font-weight: 400;
    padding: 15px 41px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    min-width: 187px;
    
}
.main-button3-1{
    font-size: 17px;
    color: #292929;
    line-height: 160%;
    font-weight: 400;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    min-width: 261px;
    gap: 10px;
    margin-top: 60px;
    
}




.four-section{
    padding: 80px 0 100px;
    background: #FFFFFF;
}
.main-header4{
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    text-align: center;
    margin-bottom: 60px;
}
.list{
    display: flex;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.Pet food{
    text-align: center;
}
.main-description4{
    font-size: 20px;
    font-weight: 400;
    color: #545454;
    text-align: center;
    margin-top: 30px;
}




.five-section{
    padding: 80px 0 100px;
    background: #F6F6F6;
}
.main-header4{
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    text-align: center;
    margin-bottom: 20px;
}
.main-wrap5{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 30px;
}
.main-text5{
    width: 380px;
}
.main-header5{
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    margin-bottom: 20px;
}
.main-description2{
    font-size: 15px;
    font-weight: 400;
    color: #4C4C4C;
}
.main-button5{
    font-size: 20px;
    gap: 10px;
    color: #4C4C4C;
    line-height: 160%;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 9px;
    min-width: 349px;
    background: #F1CDB3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.credit-card{
    display: flex;
    gap: 15px;
}
.main-description5-1{
    font-size: 12px;
    font-weight: 400;
    color: #B2B2B2;
    font-family: 'Arial', italic;
}




.six-section{
    padding: 40px 0 0px;
    background: 
    url(../image/footer-background.png) no-repeat center/cover;
}
.main-wrap6{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 160px;
}
.main-header6{
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 16px;
}
.main-description6{
    font-size: 20px;
    font-weight: 400;
    color: #F1CDB3;
    
}
.mail1{
    display: flex;
    gap: 20px;
    margin-top: 45px;
}
.mail2{
    display: flex;
    gap: 20px;
    margin-top: 32px;
}